build*
eclipse*
neo/ipch
*~
*.gch
*.dll
*.exe
*.7z
*.zip
imgui.ini

Doom3BFG.exe
base/_common.crc
base/_common.resources
base/_ordered.crc
base/_ordered.resources
base/_sound_pc.crc
base/_sound_pc.resources
base/_sound_pc_en.crc
base/_sound_pc_en.resources
base/_sound_pc_fr.crc
base/_sound_pc_gr.crc
base/_sound_pc_gr.resources
base/_sound_pc_it.crc
base/_sound_pc_jp.crc
base/_sound_pc_sp.crc
base/autoexec.cfg
base/classicmusic/
base/joy_360_0.cfg
base/joy_360_1.cfg
base/joy_lefty.cfg
base/joy_righty.cfg
base/maps/
base/sound/
base/strings/
base/video/
base/wads/
base/renderprogs2/

GPATH
GRTAGS
GSYMS
GTAGS
HTML/
neo/.kdev4
neo/neo.kdev4
neo/.idea/
neo/cmake-build-*/
/imgui.ini
*.swp
*.swo
/base/generated
/base/screenshots
/basedev
/RBDoom3BFG.exe
/base/dump
/base/env/_brdfLut.png
/base/env/testmap_1_spec_pz.png
/base/env/testmap_1_spec_py.png
/base/env/testmap_1_spec_px.png
/base/env/testmap_1_spec_nz.png
/base/env/testmap_1_spec_ny.png
/base/env/testmap_1_spec_nx.png
/base/env/testmap_1_amb_pz.png
/base/env/testmap_1_amb_py.png
/base/env/testmap_1_amb_px.png
/base/env/testmap_1_amb_nz.png
/base/env/testmap_1_amb_ny.png
/base/env/testmap_1_amb_nx.png
/base/env/skybox_texture.tga
/base/env/maps/level101/envprobe1_spec_pz.png
/base/env/maps/level101/envprobe1_spec_py.png
/base/env/maps/level101/envprobe1_spec_px.png
/base/env/maps/level101/envprobe1_spec_nz.png
/base/env/maps/level101/envprobe1_spec_ny.png
/base/env/maps/level101/envprobe1_spec_nx.png
/base/env/maps/level101/envprobe1_pz.png
/base/env/maps/level101/envprobe1_py.png
/base/env/maps/level101/envprobe1_px.png
/base/env/maps/level101/envprobe1_nz.png
/base/env/maps/level101/envprobe1_ny.png
/base/env/maps/level101/envprobe1_nx.png
/base/env/maps/level101/envprobe1_amb_pz.png
/base/env/maps/level101/envprobe1_amb_py.png
/base/env/maps/level101/envprobe1_amb_px.png
/base/env/maps/level101/envprobe1_amb_nz.png
/base/env/maps/level101/envprobe1_amb_ny.png
/base/env/maps/level101/envprobe1_amb_nx.png
/base/env/maps/level101/envprobe0_spec_pz.png
/base/env/maps/level101/envprobe0_spec_py.png
/base/env/maps/level101/envprobe0_spec_px.png
/base/env/maps/level101/envprobe0_spec_nz.png
/base/env/maps/level101/envprobe0_spec_ny.png
/base/env/maps/level101/envprobe0_spec_nx.png
/base/env/maps/level101/envprobe0_pz.png
/base/env/maps/level101/envprobe0_py.png
/base/env/maps/level101/envprobe0_px.png
/base/env/maps/level101/envprobe0_nz.png
/base/env/maps/level101/envprobe0_ny.png
/base/env/maps/level101/envprobe0_nx.png
/base/env/maps/level101/envprobe0_amb_pz.png
/base/env/maps/level101/envprobe0_amb_py.png
/base/env/maps/level101/envprobe0_amb_px.png
/base/env/maps/level101/envprobe0_amb_nz.png
/base/env/maps/level101/envprobe0_amb_ny.png
/base/env/maps/level101/envprobe0_amb_nx.png
/base/env/Image_brdfLut.h
/base/env/envprobe1_pz.png
/base/env/envprobe1_py.png
/base/env/envprobe1_px.png
/base/env/envprobe1_nz.png
/base/env/envprobe1_ny.png
/base/env/envprobe1_nx.png
/base/env/envprobe0_pz.png
/base/env/envprobe0_py.png
/base/env/envprobe0_px.png
/base/env/envprobe0_nz.png
/base/env/envprobe0_ny.png
/base/fonts/english/font_4_48.tga
/base/fonts/english/font_3_48.tga
/base/fonts/english/font_2_48.tga
/base/fonts/english/font_1_48.tga
/base/fonts/english/font_1_24.tga
/base/fonts/english/font_0_48.tga
/base/fonts/english/font_0_24.tga
/base/fonts/english/font_0_12.tga
/base/fonts/english/fontImage_48.dat
/base/fonts/english/fontImage_24.dat
/base/fonts/english/fontImage_12.dat
/base/fonts/TooMuchInk.ttf
/base/fonts/Merriweather/OFL.txt
/base/fonts/Merriweather/Merriweather-Regular.ttf
/base/fonts/Merriweather/Merriweather-LightItalic.ttf
/base/fonts/Merriweather/Merriweather-Light.ttf
/base/fonts/Merriweather/Merriweather-Italic.ttf
/base/fonts/Merriweather/Merriweather-BoldItalic.ttf
/base/fonts/Merriweather/Merriweather-Bold.ttf
/base/fonts/Merriweather/Merriweather-BlackItalic.ttf
/base/fonts/Merriweather/Merriweather-Black.ttf
/base/guis/assets/hud/ico_inv_fuelcell_sm.tga
/base/guis/assets/hud/ico_inv_fuelcell_lg.tga
/base/guis/assets/hud/ico_inv_drone_cmd_module_lg.tga
/base/guis/assets/hud/ico_inv_blank_sm.tga
/base/guis/assets/hud/ico_inv_blank_lg.tga
/base/guis/assets/hud/hud_weapon_icon_large.tga
/base/guis/assets/maps_saveshots/ss2_stairs.tga
/base/guis/assets/maps_saveshots
/base/guis/assets/mainmenu/eye_right.tga
/base/guis/assets/mainmenu/eye_left.tga
/base/guis/assets/mainmenu
/base/guis/assets/loadscreens/level101.tga
/base/guis/assets/loadscreens/level1.tga
/base/guis/assets/loadscreens/default.tga
/base/guis/assets/loadscreens
/base/guis/assets/icons/simplekey.png
/base/guis/assets/white.tga
/base/guis/assets/splash/legal_english.tga
/base/guis/assets/splash
/base/guis/assets/pda/video_preview_default.tga
/base/guis/assets/cameraView.xcf
/base/guis/assets/cameraView.tga
/base/guis/assets/blank_level_shot.tga
/base/guis/assets/aperature.tga
/base/guis/assets/aperature.pdn
/base/lights/square_light_simple_falloff.tga
/base/lights/square_light_simple.tga
/base/lights/round_light_simple_falloff.tga
/base/lights/round_light2_simple_falloff.tga
/base/lights/round.tga
/base/lights/lightgratelight.tga
/base/lights/flashlight5.tga
*.png
*.dat
*.tga
/base/newfonts/makefonts_se2_idFont.bat
*.otf
/base/savegames/AutoSave__test1.txt
/base/savegames/AutoSave__test1.save
/base/script/weapon_unarmed.script
/base/script/weapon_tazer.script
/base/script/weapon_pda.script
/base/script/weapon_keycard.script
/base/script/weapon_base.script
/base/script/weapon_arm2.script
/base/script/player.script
/base/script/doom_util.script
/base/script/doom_main.script
/base/script/doom_events.script
/base/script/doom_defs.script
/base/script/d3xp_events.script
/base/script/d3xp_bloodstone.script
/base/script/d3xp_airlock.script
/base/script/d3le-ai_monster_boss_guardian2.script
/base/script/ai_player.script
/base/script/ai_monster_zombie_security_pistol.script
/base/script/ai_monster_zombie_sawyer.script
/base/script/ai_monster_zombie_morgue.script
/base/script/ai_monster_zombie_commando_tentacle.script
/base/script/ai_monster_zombie_commando_cgun.script
/base/script/ai_monster_zombie_bernie.script
/base/script/ai_monster_zombie_base.script
/base/script/ai_monster_zombie.script
/base/script/ai_monster_turret_ancient.script
/base/script/ai_monster_turret.script
/base/script/ai_monster_mannequin.script
/base/script/ai_monster_mannequin.def
/base/script/ai_monster_hunter_invul.script
/base/script/ai_monster_hunter_helltime.script
/base/script/ai_monster_hunter_berserk.script
/base/script/ai_monster_flying_lostsoul.script
/base/script/ai_monster_flying_forgotten.script
/base/script/ai_monster_flying_cacodemon.script
/base/script/ai_monster_dummy_target.script
/base/script/ai_monster_dummy.script
/base/script/ai_monster_demon_wraith.script
/base/script/ai_monster_demon_vulgar.script
/base/script/ai_monster_demon_trite_jump.script
/base/script/ai_monster_demon_trite.script
/base/script/ai_monster_demon_sentry.script
/base/script/ai_monster_demon_revenant.script
/base/script/ai_monster_demon_pinky.script
/base/script/ai_monster_demon_mancubus.script
/base/script/ai_monster_demon_maggot.script
/base/script/ai_monster_demon_imp.script
/base/script/ai_monster_demon_hellknight.script
/base/script/ai_monster_demon_d3xp_bruiser.script
/base/script/ai_monster_demon_cherub.script
/base/script/ai_monster_demon_archvile.script
/base/script/ai_monster_boss_vagary.script
/base/script/ai_monster_boss_sabaoth.script
/base/script/ai_monster_boss_maledict.script
/base/script/ai_monster_boss_guardian_seeker.script
/base/script/ai_monster_boss_guardian.script
/base/script/ai_monster_boss_cyberdemon.script
/base/script/ai_monster_base.script
/base/script/ai_follower.script
/base/script/ai_cinematic_le.script
/base/script/ai_character_sentry.script
/base/script/ai_character_prone.script
/base/script/ai_character_erebus3.script
/base/script/ai_character.script
/base/script/ai_base.script
/base/textures
*.swd
/preybase
/renderdoc.cap
/.vs
/base/DoomConfig.cfg
/dump/common
/swscale-5.dll
/swresample-3.dll
/postproc-55.dll
/avutil-56.dll
/avformat-58.dll
/avfilter-7.dll
/avdevice-58.dll
/avcodec-58.dll
/vanilla_base/pak000.pk4
/MyGame/
/vanilla_base/models
